body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.barra {
    position: relative;
    height: 80px;
    width: 100vw;
    background-color: black;
    
}

.logo {
    position: absolute;
    margin-left: 45vw;
}
.conectar {
    position: absolute;
    margin-top: 30px;
    margin-left: 90vw;
    font-size: 18pt;

}
.conectar a {
    text-decoration: none;
    color: whitesmoke;
}
.box {
    position: relative;
    display: flex;
    top: 100px;
    left: 20px;
    padding: 0;
    width: 2%;
}
.box .screen {
    position: absolute;
    top: 0;
    left: 0;
}
.box:hover .screen.screen5 {
    transform: translate(50px, -50px);
    opacity: 1;
}
.box:hover .screen.screen4 {
    transform: translate(40px, -40px);
    opacity: .9;
}
.box:hover .screen.screen3 {
    transform: translate(30px, -30px);
    opacity: .7;
}
.box:hover .screen.screen2 {
    transform: translate(20px, -20px);
    opacity: .5;
}
.box:hover .screen.screen1 {
    transform: translate(10px, -10px);
    opacity: .3;
}
.box:hover .screen.screen0 {
    opacity: .1;
}

.text-1 {
    position: absolute;
    left: 35%;
    width: 60%;
    top: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}
.text-1 span {
    font-family: 'Courier New', Courier, monospace;
}